@font-face {
    font-family: 'Proxima Nova',
        sans-serif;
    src: url('../fonts/Mark Simonson - Proxima Nova Black.eot');
    src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Black.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Black.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Bold.eot');
    src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Bold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.eot');
    src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Condensed Extrabold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.eot');
    src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Condensed Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Condensed Semibold.eot');
    src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Condensed Semibold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Condensed Semibold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Condensed Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}


@import './base/common';
@import './base/container';
@import './base/container';
@import './layout/header';
@import './layout/hero';